.App {
  text-align: center;
  width: 400px;
  height: 500px;
  position: relative;
}

.tweet_form {
  width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tweet_input_box {
  padding-bottom: 40px;
}

.tweet_input {
  width: 250px;
  padding-bottom: 100px;
}

.tweet_button_box {
  padding-top: 30px;
}

.tweet_button {
  width: 250px;
}
