.App {
  text-align: center;
  width: 400px;
  height: 450px;
  position: relative;
}

.tweet_input {
  width: 250px;
  padding-bottom: 100px;
}

.tweet_button {
  width: 250px;
}

.status_bar {
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 0;
}
